[Desktop Entry]
Type=Application
Version=0.6.0
Name=LISTEN.moe (Unofficial)
Name[bg]=LISTEN.moe (Неофициално)
Name[cs]=LISTEN.moe (Neoficiální)
Name[da]=LISTEN.moe (Uofficiel)
Name[de]=LISTEN.moe (Inoffiziell)
Name[el]=LISTEN.moe (Ανεπίσημο)
Name[es]=LISTEN.moe (No oficial)
Name[et]=LISTEN.moe (Mitteametlik)
Name[fi]=LISTEN.moe (Epävirallinen)
Name[fr]=LISTEN.moe (Non officiel)
Name[hr]=LISTEN.moe (Neslužbeno)
Name[hu]=LISTEN.moe (Nem hivatalos)
Name[id]=LISTEN.moe (Tidak Resmi)
Name[it]=LISTEN.moe (Non ufficiale)
Name[ja]=LISTEN.moe（非公式）
Name[ko]=LISTEN.moe (비공식)
Name[lt]=LISTEN.moe (Neoficialus)
Name[lv]=LISTEN.moe (Neoficiāls)
Name[nl]=LISTEN.moe (Onofficieel)
Name[pl]=LISTEN.moe (Nieoficjalne)
Name[pt]=LISTEN.moe (Não oficial)
Name[ro]=LISTEN.moe (Neoficial)
Name[sk]=LISTEN.moe (Neoficiálne)
Name[sl]=LISTEN.moe (Neuradno)
Name[sv]=LISTEN.moe (Inofficiell)
Name[tr]=LISTEN.moe (Resmi olmayan)
Name[zh-CN]=LISTEN.moe（非官方）

Comment=The world's cutest radio. Powered by LISTEN.moe!
Comment[bg]=Най-сладкото радио в света. Захранвано от LISTEN.moe!
Comment[cs]=Nejroztomilejší rádio na světě. Poháněno LISTEN.moe!
Comment[da]=Verdens sødeste radio. Drevet af LISTEN.moe!
Comment[de]=Das niedlichste Radio der Welt. Bereitgestellt von LISTEN.moe!
Comment[el]=Το πιο χαριτωμένο ραδιόφωνο στον κόσμο. Με την υποστήριξη του LISTEN.moe!
Comment[es]=La radio más adorable del mundo. Impulsada por LISTEN.moe!
Comment[et]=Maailma kõige armsam raadio. Toetatud LISTEN.moe poolt!
Comment[fi]=Maailman suloisin radio. LISTEN.moe:n voimin!
Comment[fr]=La radio la plus mignonne du monde. Propulsée par LISTEN.moe!
Comment[hr]=Najslađi radio na svijetu. Pokreće LISTEN.moe!
Comment[hu]=A világ legaranyosabb rádiója. A LISTEN.moe működteti!
Comment[id]=Radio paling imut di dunia. Didukung oleh LISTEN.moe!
Comment[it]=La radio più carina del mondo. Offerta da LISTEN.moe!
Comment[ja]=世界で一番かわいいラジオ。LISTEN.moeがお送りします！
Comment[ko]=세상에서 가장 귀여운 라디오. LISTEN.moe 제공!
Comment[lt]=Mieliausias radijas pasaulyje. Palaikomas LISTEN.moe!
Comment[lv]=Pasaulē jaukākais radio. Nodrošina LISTEN.moe!
Comment[nl]=De schattigste radio ter wereld. Mogelijk gemaakt door LISTEN.moe!
Comment[pl]=Najbardziej urocze radio na świecie. Napędzane przez LISTEN.moe!
Comment[pt]=A rádio mais fofa do mundo. Desenvolvida por LISTEN.moe!
Comment[ro]=Cel mai drăguț radio din lume. Susținut de LISTEN.moe!
Comment[sk]=Najroztomilejšie rádio na svete. Poháňané LISTEN.moe!
Comment[sl]=Najbolj prikupen radio na svetu. Poganja LISTEN.moe!
Comment[sv]=Världens sötaste radio. Drivs av LISTEN.moe!
Comment[tr]=Dünyanın en sevimli radyosu. LISTEN.moe tarafından desteklenmektedir!
Comment[zh_CN]=世界上最可爱的电台，由 LISTEN.moe 提供！
Comment[zh_TW]=世界上最可愛的電台，由 LISTEN.moe 提供！
Exec=listenmoe %u
Icon=io.github.noobping.listenmoe
Terminal=false
Categories=AudioVideo;Player;
