[Desktop Entry]
Version=1.0
Type=Application

Name=Listen Moe
Comment=J-POP and K-POP radio
Categories=AudioVideo;Player;

Icon=io.github.noobping.listenmoe
Exec=listenmoe
Terminal=false
